.App {
  text-align: center;
}

.minesweeper-game {
  width: 600px;

}

.minesweeper-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  font-size: 1.2em;
  height: 1.25em;
}

.minesweeper-header-number {
  width: 75px;
}

.minesweeper-grid {
  /*border: 1px solid red;*/
  height: 320px;
}

.minesweeper-grid-row {
  display: flex;
}

.minesweeper-block {
  background-color: #eaeaea;
  box-sizing: border-box;
  border: 1px solid black;
  font-family: 'Squada One', cursive;
  font-size: medium;
  height: 20px;
  line-height: 0.8;
  padding: 0;
  text-align: center;
  width: 20px;
}

img.bomb {
  height: 18px;
  width: 18px;
}

.minesweeper-block > .exploded {
  background-color: red;
}

.minesweeper-block.value-1 {
  color: blue;
}

.minesweeper-block.value-2 {
  color: green;
}

.minesweeper-block.value-3 {
  color: red;
}

.minesweeper-block.value-4 {
  color: #ec8200;
}

.minesweeper-block.value-5 {
  color: #b105a0;
}

.minesweeper-block.value-6 {
  color: dodgerblue;
}

.minesweeper-block.value-7 {
  color: black;
}

.minesweeper-block.value-8 {
  color: #663399;
}

.minesweeper-block.hidden {
  background-color: darkgrey;
}

.minesweeper-scores {
  text-align: left;
  padding: 0 0 0 20px;
}

.highlighted-score {
  color: red;
}