.App {
  text-align: center;
}

.hidden {
  display: none;
}

.minesweeper-game {
  width: 600px;

}

.minesweeper-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.minesweeper-header-number {
  width: 75px;
}

.minesweeper-grid {
  /*border: 1px solid red;*/
  height: 320px;
}

.minesweeper-grid-row {
  display: flex;
}

.minesweeper-block {
  box-sizing: border-box;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

.minesweeper-block.exploded {
  background-color: red;
}